<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.plotmaster">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application
        android:name=".GrblController"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlotMaster"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"
            android:supportsPictureInPicture="false"
            android:theme="@style/Theme.PlotMaster"
            tools:ignore="LockedOrientationActivity,NonResizeableActivity"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BluetoothConnectionActivity"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"
            android:supportsPictureInPicture="false"
            tools:ignore="LockedOrientationActivity,NonResizeableActivity"
            tools:targetApi="n" />
        <activity
            android:name=".DeviceListActivity"
            android:screenOrientation="landscape"

            android:exported="false" />
        <service
            android:name=".services.GrblBluetoothSerialService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.FileStreamerIntentService"
            android:exported="false" />

    </application>

</manifest>